@font-face {
    font-family: "roboto";
    src: url(./font/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

* {
    margin: 0;
    padding: 0;
    font-family: "roboto";
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.screen {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 10px;
    box-sizing: border-box;
}

.number {
    font-size: 60px;
    color: white;
}

.allbutton {
    flex: 1;
}

.allbutton__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-template-rows: auto;
    grid-template-areas:
        "element element element element"
        "element element element element"
        "element element element element"
        "element element element element"
        "element element element element"
        "twoelement twoelement element element";
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.allbutton--item {
    border-radius: 50%;
    color: white;
    text-align: center;
    background-color: rgb(69, 69, 69);
    grid-area: "element";
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.allbutton--item__slots {
    grid-area: "twoelement";
    grid-column: 1 / 3;
    border-radius: 50px;
    position: relative;
}

.zero {
    position: absolute;
    top: 20px;
    left: 25px;
}

.allbutton--item__lightgrey {
    background-color: rgb(177, 177, 177);
    color: black;
}

.allbutton--item__orange {
    background-color: rgb(255, 147, 14);
    color: white;
}

.button--change {
    background-color: white;
    color: rgb(255, 147, 14);
    z-index: 10
}